body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header h1 {
    color: #545454;
}

header .subtitle {
    color: #292929;
}

nav a {
    color: #545454;
}

header a:hover {
    color: #292929;
}

header a:active, .active {
    color: #545454;
}

.active:hover {
    color: #545454;;
}

.our-friends {
    display: grid;
    gap: 45px;
    align-items: center;

    height: 1342px;
    margin-top: 120px;
    padding: 80px 40px 100px;

    background-color: #f6f6f6;
}

.pets-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;

    height: 930px;
    padding: 15px 0;
}

.navigation{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.navigation button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 52px;
    height: 52px;

    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;

    background-color: transparent;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
}

#page-number-button {
    background-color: #F1CDB3;
    border: none;
}

.navigation button:disabled {
    border-color: #cdcdcd;
    color: #cdcdcd;
}

.nowrap {
    white-space: nowrap;
}