html {
    scroll-behavior: smooth;
}

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header h1 {
    color: #545454;
}

header .subtitle {
    color: #292929;
}

nav a {
    color: #545454;
}

header a:hover {
    color: #292929;
    transition: color 500ms linear;
}

header a:active, .active {
    color: #545454;
}

.active:hover {
    color: #545454;
    transition: color 500ms linear;
}

.our-friends {
    height: 1342px;
    margin-top: 120px;
    padding: 80px 40px 100px;

    background-color: #f6f6f6;
}

.our-friends-content {
    display: grid;
    gap: 45px;
    align-items: center;
}

.pets-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;

    height: 930px;
    padding: 15px 0;
}

.navigation{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.nowrap {
    white-space: nowrap;
}