@import "../../abstract/constants";
@import "../../abstract/mixins";

.help {
  padding: 80px 40px 100px;
  background-color: $color-light-xl;
  @include media-tablet {
    padding: 80px 0 100px;
  }
}

.help__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 57px;
  text-align: center;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 54px 119px;
  padding: 0 87px;
  text-align: center;
  @include media-tablet {
    gap: 55px 65px;
    padding: 0;
    >.help-item {
      flex-basis: 23%;
    }
  }
  @include media-mobile {
    >.help-item {
      flex-basis: 45%;
    }
  }
}

.help-item {
  display: grid;
  gap: 30px;
  align-items: center;
  justify-items: center;
  h4{
    color: $color-dark-l;
    white-space: nowrap;
  }
}