@import "../../abstract/constants";
@import "../../abstract/mixins";

.our-friends {
  background-color: $color-light-l;
}

.our-friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 77px 40px 100px;
  text-align: center;
  @include media-tablet {
    padding: 79px 0 100px;
  }
  @include media-mobile {
    padding: 41px 0;
  }

  .button_primary {
    width: 261px;
  }
}

.our-friends__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 53px;
  padding: 60px 0;
  @include media-tablet {
    gap: 12px;
  }
  @include media-mobile {
    padding: 0;
  }
}

.our-friends__cards {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  @include media-tablet {
    gap: 40px;
  }
  @include media-mobile {
    padding-top: 42px;
  }
}

.pet-card:last-child {
  @include media-small-desktop {
    display: none;
  }
}

.pet-card:nth-last-child(-n + 2) {
  @include media-mobile {
    display: none;
  }
}

.our-friends__puppy {
  max-width: 270px;
  height: auto;
}

.button_visible {
  @include media-mobile {
    display: none;
  }
}

.our-friends__hidden-buttons {
  display: none;
  @include media-mobile {
    display: flex;
    gap: 80px;
    padding: 20px 0 42px;
  }
}