@import "../../abstract/constants";
@import "../../abstract/mixins";

.our-friends {
  padding: 80px 40px 100px;
  background-color: $color-light-l;

  .button_primary {
    width: 261px;
  }

  @include media-tablet {
    padding: 79px 0 100px;
  }
}

.our-friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.our-friends__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 53px;
  padding: 60px 0;
  @include media-tablet {
    gap: 12px;
  }
}

.our-friends__cards {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  @include media-tablet {
    gap: 40px;
  }
}

.pet-card:last-child {
  @include media-tablet {
    display: none;
  }
}

.our-friends__puppy {
  max-width: 270px;
  height: auto;
}