@import "../abstract/constants";
@import "../abstract/placeholders";

.header {
    position: absolute;
    top: 30px;
    left: 40px;
    right: 40px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.logo__subtitle {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
}

.header__navigation {
    display: flex;
    align-items: center;
    width: 443px;
    padding: 16px 0 17px;
}

.nav {
    display: flex;
    gap: 35px;
    justify-content: space-between;
    list-style-type: none;
}

.nav__link p {
    white-space: nowrap;
}

.nav__link_active > p, .nav__link:active > p {
    padding-bottom: 1px;
    border-bottom: 3px solid #f1cdb3;
}

.logo:hover {
    transform: scale(1.025);
    @extend %transition;
}

.logo:not(:hover) {
    @extend %transition;
}