@import "../../abstract/constants";
@import "../../abstract/placeholders";

.logo__title_main {
    margin-bottom: 0.63rem;
    color: $color-primary;
}

.logo__subtitle_main {
    color: $color-light-xl;
}

.nav__link_main {
    color: $color-dark-s;
}

.nav__link_main:not(.navigation__link_active):hover {
    color: $color-light-s;
    @extend %transition;
}

.nav__link_main:active, .navigation__link_active {
    color: $color-light-s;
}


.help {
    padding: 80px 40px 100px;

    background-color: $color-light-xl;
}

.help__wrapper {
    display: grid;
    gap: 60px;
    justify-items: center;

    padding: 0 87px;
}

.help__first-row {
    display: flex;
    gap: 119px;
    justify-content: space-between;

    margin-bottom: 55px;
}

.help__second-row {
    display: flex;
    gap: 119px;
    justify-content: center;
}

.help-item {
    display: grid;
    gap: 30px;
    align-items: center;
    justify-items: center;

    color: $color-dark-l;
}


.in-addition {
    padding: 80px 40px 100px;

    background: $color-light-l;
}

.in-addition__wrapper {
    display: flex;
    gap: 30px;
    align-items: center;

    padding: 0 143px;
}

.in-addition__puppy {
    width: 505px;
    height: 261px;
}

.in-addition__text-content {
    display: grid;
    gap: 20px;

    width: 379px;
    height: 282px;
}

.in-addition__text-content h3 {
    width: 300px;
    height: 90px;

    text-align: left;
}

.in-addition__text-content h5 {
    width: 307px;
    height: 17px;

    white-space: nowrap;
    color: $color-dark-l;
}

.credit-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 349px;
    height: 43px;
    padding: 10px 15px;

    background-color: $color-primary;
    border-radius: 9px;
}

.credit-card__icon {
    width: 30px;
    height: 23px;
}

.credit-card h4 {
    white-space: nowrap;
    color: $color-dark-l;
}

.credit-card h4:hover {
    cursor: pointer;
    color: $color-light-xl;

    @extend %transition;
}

.credit-card h4:not(:hover) {
    @extend %transition;
}