// Colors
$color-primary: #2e2a23;
$color-secondary: rgba(231, 195, 243, 0.53);

$color-dark-s: rgb(115, 115, 115);
$color-dark-m: #26211c;
$color-dark-l: #221e18;

$color-light-s: #ffffff99;
$color-light-m: #ddd;
$color-light-l: #efefef;

// Screen widths
$screen-width-tablet: 850px;
$screen-width-mobile: 620px;
