$color-primary: #2e2a23;
$color-secondary: rgba(226, 83, 75, 0.37);

$color-dark-s: rgb(150, 150, 150);
$color-dark-m: rgb(100, 99, 99);
$color-dark-l: #221e18;

$color-light-s: #ffffff99;
$color-light-m: #ddd;
$color-light-l: #efefef;
