body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .subtitle {
    color: #ffffff;
}

header a:hover {
    color: #fafafa;
}

header a:active {
    color: #fafafa;
}


.not-only {
    height: 908px;
    padding: 180px 40px 0;

    background: url("../../assets/images/start-screen-gradient-background.png") no-repeat;
    background-size: 100%;
}

.not-only-content {
    display: flex;
    justify-content: space-between;

    width: 1200px;
    height: 728px;
}

.not-only-content .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 502px;
}

.not-only-content h2 {
    color: #ffffff;
}

.not-only-content p {
    width: 460px;
    height: 72px;
    margin: 42px 0;

    color: #cdcdcd;
}

.not-only-content img {
    width: 698px;
    height: 728px;
}


.about {
    height: 588px;
    padding: 80px 40px 100px;

    background-color: #ffffff;
}

.about-content {
    display: flex;
    gap: 120px;
    align-items: center;

    padding: 0 175px;
}

.about-content img {
    width: 300px;
    height: 408px;
}

.about-content h3 {
    text-align: left;
}

.about-content p {
    padding-top: 25px;
    color: #4c4c4c;
}


.our-friends {
    height: 877px;
    padding: 80px 40px 100px;

    background-color: #f6f6f6;
}

.our-friends-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-friends-content .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;

    margin: 60px 0;
}

.our-friends-content .cards {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.our-friends-content .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    width: 270px;
    height: 435px;
    padding-bottom: 30px;

    background-color: #fafafa;
    border-radius: 9px;
}

.card:hover {
    cursor: pointer;
}

.card:hover > button {
    background-color: #fddcc4;
    border: none;
}

.our-friends-content img {
    width: 270px;
    height: 270px;
}

.our-friends-content p {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #545454;
}

.right-arrow-button {
    transform: rotate(180deg);
}

.circle-button svg {
    width: 14px;
    height: 6px;
}

.circle-button:disabled > svg path {
    fill: #cdcdcd;
}

.our-friends-content .button-primary {
    width: 261px;
    height: 52px;
}


.help {
    height: 611px;
    padding: 80px 40px 100px;

    background-color: #ffffff;
}

.help-content {
    display: grid;
    gap: 60px;
    justify-items: center;

    padding: 0 87px;
}

.list-first-row {
    display: flex;
    gap: 119px;
    justify-content: space-between;

    margin-bottom: 55px;
}

.list-second-row {
    display: flex;
    gap: 119px;
    justify-content: center;
}

.help-item {
    display: grid;
    gap: 30px;
    align-items: center;
    justify-items: center;
}

.help-item h4 {
    color: #545454;
}


.in-addition {
    height: 462px;
    padding: 80px 182px 100px 183px;

    background: #F6F6F6;
}

.in-addition-content {
    display: flex;
    gap: 30px;
    align-items: center;
}

.in-addition img {
    width: 505px;
    height: 261px;
}

.in-addition .content {
    display: grid;
    gap: 20px;

    width: 380px;
    height: 282px;
}

.in-addition h3 {
    width: 300px;
    height: 90px;

    text-align: left;
}

.in-addition h5 {
    width: 307px;
    height: 17px;

    white-space: nowrap;
    color: #545454;
}

.credit-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 349px;
    height: 43px;
    padding: 10px 15px;

    background-color: #f1cdb3;
    border-radius: 9px;
}

.credit-card img {
    width: 30px;
    height: 23px;
}

.credit-card h4 {
    white-space: nowrap;
    color: #545454;
}

.in-addition p {
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #b2b2b2;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    overflow-y: hidden;

    background: rgba(41, 41, 41, 0.6);
}

.modal-window {
    position: absolute;
    left: 190px;
    top: 136px;

    width: 952px;
    height: 552px;
}

.close-button {
    position: absolute;
    left: 890px;
    top: 0;

    width: 52px;
    height: 52px;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.current-pet-content {
    position: absolute;
    left: 0;
    top: 52px;

    display: flex;
    width: 900px;
    height: 500px;

    background-color: #fafafa;
    border-radius: 9px;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.modal .puppy-photo {
    width: 500px;
    height: 500px;

    background: url("../../assets/images/pets-jennifer.png") no-repeat;
    background-size: 100%;
}

.pet-info {
    display: grid;
    gap: 40px;
    margin: 50px 20px 88px 29px;
    color: #000000;
}

.modal h3 {
    text-align: left;
}

.modal li {
    color: #f1cdb3;
}

.modal span {
    color: #000000;
}

.modal .bold {
    font-weight: 700;
}