@import '../abstract/mixins';

.instruction {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
}

.board {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: .9em;

  .plate {
    position: relative;

    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;

    background-image: url('../assets/images/plate.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    &_pink {
      background-image: url('../assets/images/plate-pink.svg');
    }
  }

  .yummy {
    position: relative;

    width: 60px;
    height: 60px;

    background-image: url('../assets/images/cupcake.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    &_cake {
      background-image: url('../assets/images/cake.svg');
    }
    &_strawberry {
      width: 70px;
      height: 70px;
      background-image: url('../assets/images/strawberry.svg');
    }
    &_donut {
      width: 70px;
      height: 70px;
      background-image: url('../assets/images/donut.svg');
    }
    &_top {
      position: absolute;
      bottom: 43%;
    }
    &_small {
      width: 45px;
      height: 45px;
    }
  }

  .target {
    transform-origin: bottom;
    animation: jelly-start .5s ease-out, jelly 1s infinite;
    @include jellyStart;
    @include jelly;
    &_fly-up {
    animation: flyUp 1s ease-in forwards;
      @include flyUp;
    }
  }

  .popup {
    position: absolute;
    top: -50px;
    left: 40%;

    display: flex;
    flex-direction: column;
    padding: .8em;
    width: max-content;
    height: max-content;

    font-weight: 100;
    color: $color-light-m;
    background-color: $color-secondary;
    border-radius: 1em;
  }
}
