@import "../abstract/constants";
@import "../abstract/mixins";

.mobile-menu-overlay {
  position: absolute;
  top: 0;
  left: 0;


  justify-content: end;
  width: 100%;
  height: 100%;

  background: $color-modal;

}


.mobile-menu__content {
  width: 320px;
  height: 100%;
  background: $color-dark-3xl;
}

.close-hamburger {
  display: none;
  @include media-mobile {
    display: flex;
    justify-self: end;
    flex-direction: column;
    gap: 8px;
    width: 30px;
    height: 22px;
  }
}

.mobile-menu__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.mobile-menu-hidden {
  display: none;
}

.mobile-menu-visible {
  display: flex;
}
