$color-primary: purple;
$color-secondary: coral;
$color-tertiary: darkred;
$color-cell-opened: #ea9f86;
$color-cell-hovered: #ff9a6f;
$color-btn-hovered: rgba(128, 0, 128, 0.22);
$color-one: purple;
$color-two: #240080;
$color-three: #ff1300;
$color-four: #805a00;