@import '../abstract/constants';
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  &__logo-wrapper {
    display: flex;
    gap: 8px;
  }
  &__logo {
    width: 20px;
    height: 20px;
    background-image: url("../assets/images/cupcake.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__title {
    font-size: .85em;
    text-align: center;
    color: $color-secondary;
  }
}
