$color-primary: rgba(136, 122, 168, 0.73);
$color-primary-light: #9588b2;
$color-primary-extralight: #a999bd;
$color-primary-dark: rgba(103, 86, 140, 0.73);

$color-secondary-dark: rgba(242, 200, 194, 0.45);
$color-secondary: #f2c8c2;
$color-secondary-light: rgb(245 225 224);

$color-light: #eaeaea;
