@import "../abstracts/constants";
@import "../abstracts/mixins";
@import "../base/fonts";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-background;
  font-family: Neon, sans-serif;
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: auto;

  &_hidden {
    display: none;
  }
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-secondary;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 100ms;

  &:hover:not(&_opened, &_mined) {
    background-color: $color-cell-hovered;
  }

  &_opened {
    background-color: $color-secondary-light;
  }

  &_mined {
    background-color: black;
    background-image: url("../../assets/images/explosion.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
  }

  &_flagged {
    background-image: url("../../assets/images/flag.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
  }

  &_1mine {
    color: $color-primary;
  }

  &_2mines {
    color: $color-two;
  }

  &_3mines {
    color: $color-three;
  }

  &_4mines {
    color: $color-four;
  }

  &_5mines {
    color: $color-tertiary;
  }
}