@import "../../abstract/constants";
@import "../../abstract/placeholders";

.logo__title_pets {
    margin-bottom: 0.63rem;
    color: $color-dark-l;
}

.logo__subtitle_pets {
    color: $color-dark-3xl;
}

.nav__link_pets {
    color: $color-dark-l;
}

.nav__link_pets:not(.navigation__link_active):hover {
    color: $color-dark-3xl;
    @extend %transition;
}

.nav__link_pets:active, .navigation__link_active {
    color: $color-dark-l;
}


.our-pets {
    margin-top: 120px;
    padding: 80px 40px 100px;

    background-color: $color-light-l;
}

.our-pets__wrapper {
    display: grid;
    gap: 45px;
    align-items: center;
}

.our-pets__pets {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;

    padding: 15px 0;
}

.our-pets__navigation {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.nowrap {
    white-space: nowrap;
}