.button {
  width: 55px;
  height: 27px;

  font-size: .8em;
  color: $color-primary-dark;

  border-radius: .8em;
  cursor: pointer;

  &_primary {
    background-color: $color-primary;
    border: none;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &_secondary {
    background-color: transparent;
    border: 2px solid $color-primary;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &_circle {
    width: 27px;
    height: 27px;
    border-radius: 50%;
  }
}
