@import "base/fonts";
@import "abstracts/constants";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-background;
  font-family: Neon, sans-serif;
}

.button {
  padding: 0.5em;

  font-family: Neon, sans-serif;
  font-size: 1.7em;
  color: $color-secondary;

  background-color: transparent;
  border: 2px dashed;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 300ms;
  &_start {
    border-color: white;
    &:hover {
      background-color: $color-secondary-dark;
    }
  }
  &_restart {
    border-color: $color-primary;
    &:hover {
      background-color: $color-primary-dark;
    }
  }
}

.modal {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 560px;
  margin: 75px auto auto;
  padding: 2em;

  background-color: $color-primary;
  border-radius: 1em;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
  }
  &__title {
    font-size: 4em;
    color: $color-secondary;
    text-align: center;
  }
  &__paragraph {
    font-size: 1em;
    color: white;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 1.7em auto;
  padding: 1em;

  &__title {
    flex-basis: 100%;
    margin: .5em auto;

    font-size: 3.5em;
    color: $color-primary;
    text-align: center;
  }
  &__steps, &__stopwatch {
    font-size: 3em;
    color: $color-tertiary;
    border-radius: .5em;
  }
}

.board {
  display: flex;
  gap: 2px;
  max-width: 400px;
  max-height: 1000px;
  flex-wrap: wrap;
  margin: auto;
}

.board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;

  background-color: $color-secondary;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 100ms;

  &:hover:not(&_opened, &_mined){
    background-color: $color-cell-hovered;
  }
  &_opened {
    background-color: $color-cell-opened;
  }
  &_mined {
    background-color: black;
    background-image: url("../assets/images/explosion.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
  }
  &_flagged {
    background-image: url("../assets/images/flag.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
  }
}

.hidden {
  display: none;
}

.one {
  color: $color-primary;
}

.two {
  color: $color-two;
}

.three {
  color: $color-three;
}

.four {
  color: $color-four;
}

.five {
  color: $color-tertiary;
}