@import "base/fonts";
@import "abstracts/constants";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: Neon, sans-serif;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 1.7em auto;
  padding: 1em;

  &__title {
    flex-basis: 100%;
    margin: .5em auto;

    font-size: 3.5em;
    color: purple;
    text-align: center;
  }
  &__steps, &__timer {
    font-size: 3em;
    color: darkred;
    border-radius: .5em;
  }
  &__button {
    padding: 0.5em;
    font-family: Neon, sans-serif;
    font-size: 1.7em;
    color: coral;
    background-color: transparent;
    border: 2px dashed purple;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 300ms;

    &:hover {
      background-color: rgba(128, 0, 128, 0.22);
    }
  }
}

.board {
  display: flex;
  gap: 2px;
  max-width: 400px;
  max-height: 1000px;
  flex-wrap: wrap;
  margin: auto;
}

.board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;

  background-color: coral;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 100ms;

  &:hover:not(&_opened, &_mined){
    background-color: #ff9a6f;
  }
  &_opened {
    background-color: #ea9f86;
  }
  &_mined {
    background-color: black;
    background-image: url("../assets/images/explosion.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
  }
  &_flagged {
    background-image: url("../assets/images/flag.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
  }
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: auto;
  padding: 2em;

  background-color: purple;
  border-radius: 1em;

  &__title {
    font-size: 4em;
    color: coral;
    text-align: center;
  }
  &__paragraph {
    font-size: 1em;
    color: white;
  }
}

.hidden {
  display: none;
}