@import "base/fonts";

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.board {
  display: flex;
  max-width: 50vw;
  max-height: 50vw;
  flex-wrap: wrap;
  margin: auto;
}

.board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding: 5px;

  font-family: Neon, sans-serif;

  border: solid 2px white;

  &_opened {
    background-color: white;
  }

  &_mined {
    background-color: yellow;
    background-image: url("../assets/images/purple-mine.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
  }
}
 .board__cell_flagged {
   background-color: darkred;
    background-image: url("../assets/images/flag.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
  }


.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
}