.button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 52px;

    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 1.07rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    white-space: nowrap;
    color: #292929;

    border-radius: 100px;
}

.button_primary {
    width: 207px;
    padding: 15px 45px;

    background-color: #f1cdb3;
    border: none;
}

.button_secondary {
    width: 187px;
    padding: 15px 45px;

    background-color: transparent;
    border: 2px solid #f1cdb3;
}

.button_circle {
    width: 52px;
    padding: 12px 17px;

    font-size: 1.25rem;

    background-color: transparent;
    border: 2px solid #f1cdb3;
}

.button_circle svg {
    width: 14px;
    height: 6px;
}

.button_circle_reversed {
    transform: rotate(180deg);
}

#page-number-button {
    background-color: #f1cdb3;
    border: none;
}

.button_circle:disabled {
    border-color: #cdcdcd;
    color: #cdcdcd;
}

.button_circle:disabled > svg path {
    fill: #cdcdcd;
}

.button:not([disabled]):hover, .button_primary:not([disabled]):hover {
    background-color: #fddcc4;
    border: none;
    cursor: pointer;

    transition: background-color 200ms linear;
}

.button:not(:hover), .button_primary:not(:hover)  {
    transition: background-color 200ms linear;
}