button, .button-primary {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
}

.button-primary {
    width: 207px;
    height: 52px;
    padding: 15px 45px;

    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    white-space: nowrap;

    background-color: #f1cdb3;
    border: none;
    border-radius: 100px;
}

.button-secondary {
    width: 187px;
    height: 52px;
    padding: 15px 45px;

    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    white-space: nowrap;

    background-color: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

#page-number-button {
    background-color: #F1CDB3;
    border: none;
}

.circle-button {
    width: 52px;
    height: 52px;
    padding: 12px 17px;

    background-color: transparent;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
}


button:not([disabled]):hover, .button-primary:not([disabled]):hover {
    background-color: #fddcc4;
    border: none;
    cursor: pointer;

    transition: background-color 200ms linear;
}

button:not(:hover), .button-primary:not(:hover)  {
    transition: background-color 200ms linear;
}

.circle-button:disabled {
    border-color: #cdcdcd;
    color: #cdcdcd;
}