@font-face {
    font-family: 'Georgia regular';
    src: local('Georgia regular'), url('../fonts/georgia-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia bold';
    src: local('Georgia bold'), url('../fonts/georgia-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial regular';
    src: local('Arial regular'), url('../fonts/arial-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}