@import "../abstracts/constants";
@import "../abstracts/mixins";

.button {
  padding: 0.9rem 1em;

  font-family: Neon, sans-serif;
  font-size: 1.7em;
  color: $color-secondary;

  background-color: transparent;
  border: 2px dashed $color-primary;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 300ms;

  &:hover {
    background-color: $color-primary-dark;
  }

  @include media-tablet {
    font-size: 2.5em;
  }
  @include media-tablet {
    font-size: 1.8em;
  }
}