.car {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: .2em;
  border-bottom: dashed 2px $color-secondary-dark;
  &__info {
    display: flex;
    gap: .5em;
    align-items: center;
  }
  &__move {
    display: flex;
    gap: 1em;
    width: 100vw;
  }
  &__model {
    font-size: 1.4em;
    cursor: pointer;
  }
  &__start-btn {
    width: 15px;
    height: 15px;

    background-color: transparent;
    background-image: url('../assets/images/play.svg');
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  &__restart-btn {
    width: 15px;
    height: 15px;

    background-color: transparent;
    background-image: url('../assets/images/replay.svg');
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  &__car-icon {
    width: 30px;
    height: 15px;

    background-image: url('../assets/images/car.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__flag {
    width: 15px;
    height: 15px;
    align-self: end;

    background-image: url('../assets/images/flag.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }
}

.hidden {
  display: none;
}
