.input {
  width: 8em;
  height: 1.5em;
  margin: .5em;

  color: $color-light;
  background-color: $color-secondary-dark;
  border: none;
  border-radius: 2px;
  &_color {
    width: 2em;
    height: 2em;
    margin: 1em;
    cursor: pointer;
  }
}
